body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 45, 109);
    scroll-behavior: smooth;
}

nav ul {
    width: 100vw;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0;
    margin: 2% -4px 0 -4px;
    display: inline-block;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    background-color: #a9c29c;
    border: 3px solid #000;
    width: 50%;
    font-weight: bold;
    font-size: 2rem;
}

a,
a:visited {
    text-decoration: none;
    color: #3f7050;
}

li:hover {
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.5)
}

h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: .3rem;
    background-color: #3f7050;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
    justify-items: center;
    grid-row-gap: 10rem;
}

.grid-item {
    filter: drop-shadow(20px 9px 3px rgba(0,0,0,0.7));
    filter: blur(2px);
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
    transform: perspective(90px);
}

.grid-item img {
    filter: brightness(60%);
    transition: all .5s ease-in-out;
}
.grid-item:hover{
    filter:blur(0px);
    transform-origin: top;
    transform: perspective(100px);
    transform:rotateY(45deg);
}
.grid-item:hover img {
    filter: brightness(100%);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 75px;
}

@media(max-width:860px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media(max-width:600px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }
}

@media(max-width:480px) {
    .grid-container {
        grid-template-columns: 100%;
    }
}